  <div class="media-body">
    <% comments.each do |comment| %>
      <p><%= comment.body %>
        <small><i>
          by <%= current_user.name %>
        </small></i>
      </p>
    <% end %>
  </div>