<!-- # create a row div
# create a col-mid-8 div
# create a h1 popular posts
# create a p class -> active posts thsi sweek
# render @posts
# will_paginate @posts
 -->

<div class = "row">
  <div class = "col-md-8">
    <h1> Popular Posts </h1>
      <p class = "lead"> Active Posts This Week </p>
      <%= render @posts %>
      <%= will_paginate @posts %>
  </div>
  <div class = "col-md-4">
  </div>
</div>
